@page "/"
@using Bitter.Shared.Dtos


<h1>Bitter</h1>

<EditForm Model="model" OnValidSubmit="Submit" OnInvalidSubmit="Shit">
    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="model.Username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText type="password" id="password" @bind-Value="model.Password"/>
    </div>
    <button type="submit">Log in</button>
    <a href="/register">Don't have an account yet? Register here</a>
</EditForm>

@code {
    private LoginDto model = new();
    protected override void OnInitialized()
    {
        model ??= new();
    }

    private void Submit()
    {
        Console.WriteLine("lsda");
    }

    private void Shit()
    {
        Console.WriteLine("shit");
    }
}